$charcoal: #4a4a4a
$orange: #ffc95e

html, body
	margin: 0
	padding: 0
	font-family: "Exo", sans-serif
	color: $charcoal

#quote-box
	display: flex
	justify-content: center
	align-items: center
	height: 100vh
	padding: 20%

h1, h2, h3
	margin: 0

#text
	line-height: 45px
	margin: 20px 0
	font-size: 30px

#author
	text-transform: uppercase
	background-color: $orange
	color: white
	letter-spacing: 1px
	padding: 10px 15px
	font-family: "Open Sans", sans-serif
	line-height: 45px

#new-quote
	&:hover
		cursor: pointer

.options
	display: flex
	justify-content: space-between

.social-share
	display: flex

.share
	position: relative
	color: $charcoal
	margin-right: 20px
	&:hover
		color: black
		cursor: pointer

.tooltip-inner 
	white-space: nowrap
	padding: 5px 10px